{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>AI</h1>
    <div id="drop-zone">
        Drag & Drop files here
        <input id="drop-box" name='file' type="file" hidden>
    </div>
    <form method="post" id="ai-form">
        <label for="input">Enter Prompt : </label>
        <input type="text" name="prompt" autocomplete="off" id='input' autofocus placeholder="Explain pythagoras formula">
        <button id="submit">Ask AI</button>
        <select name="model">
            <option value="Groq" selected>Groq</option>
            <option value="Gemini">Gemini</option>
        </select>
    </form>

    <p id="status">{{ data if data else '' }}</p>
    
    <script src="../static/upload.js"></script>
{% endblock %}
