{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>AI</h1>
    <form method="post" id="ai-form">
        <label for="input">Enter Prompt : </label>
        <input type="text" name="prompt" autocomplete="off" id='input' autofocus placeholder="Explain pythagoras formula">
        <button id="submit">Ask AI</button>
    </form>

    <p id="status">{{ data if data else '' }}</p>
    
    <script>
        const form=document.querySelector('#ai-form')
        const submitButton=document.querySelector('#submit')
        const status=document.querySelector('#status')

        window.addEventListener('pageshow',()=>{
            submitButton.disabled=false
        })

        form.addEventListener('submit',()=>{
            if (status){
                status.textContent='Thinking..'
            }
            submitButton.disabled=true
        })
    </script>
{% endblock %}
